.root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f5;
  }
  
  .title {
    font-size: 32px;
    color: #11153e;
    font-weight: bold;
    font-family: 'Courier', sans-serif;
    margin-bottom: 40px;
  }
  
  .buttonContainer {
    display: flex;
    gap: 20px;
  }
  
  .button {
    font-weight: bold;
    text-transform: none;
  }
  
  .links {
    text-decoration: none;
  }
  